<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wisal.android.paging">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!--

    On a separate client side to use the provider data client must add the following permission to it's manifest file along with
    package visibility tag for Api 30+.

    <uses-permission android:name="com.wisal.android.paging.provider.PERMISSION"/>
    <queries>
        <package android:name="com.wisal.android.paging" />
    </queries>

    -->

    <application
        android:name=".BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidPaging">
        <provider
            android:name="com.wisal.android.paging.provider.RickAndMortyApiContentProvider"
            android:authorities="com.wisal.android.paging.provider"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".ui.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>